
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h1>Halalalala</h1>
    <div> id: @ViewBag.Id
    </div>
</body>
</html>
